header	{
	background: url(../images/top.gif) 0 0 repeat;
}
header img {
	margin-left: 200px;
	width: 60%;
	
}
.shoucang {
	margin-top: 20px;
	margin-right: 200px;
}
.shoucang a {
	color:#787878;
	font-size: 12px;
}
.shoucang span {
	margin-left: 4px;
}
nav {
	background-color: #035fc2;
	height: 48px;
	width: 100%;
}
nav ul li {
	float: left;
	padding: 0 30px;
	background:  url(../images/line1.jpg) center right no-repeat;
}
nav ul li a {
	text-align: center;
	line-height: 48px;
	color: #fff;
	font-size: 14px
}
.banner {
	background: url(../images/banner.jpg) 0 0 repeat;
	padding-bottom: 8px;
	padding-top: 6px;
	margin-top: 2px;
}
.banner img {
	padding-left: 130px;
}

/* 公司简介 */
.left {
	float: left;
}
.right {
	float: right;
}
.cursor {
	cursor: pointer;
}
.inblock {
	display: inline-block;
}
.lists {
	margin-top: 30px;
	height: 400px;
}
.list {
	float: left;
	width: 420px;
	margin: 10px 15px;
	height: 400px;
}
.list:last-child {
	width: 270px;
}
.list-title {
	height: 20px;
	padding: 15px 0;
	border-bottom: 2px solid #00a9ff;
}
.list-title h2 {
	display: inline;
	color: #0055b4;
	padding-left: 10px;
}
.list-title h2 em {
	color: #f88000;
}
.company-body {
	height: 290px;
	padding-top: 10px;
	box-sizing: border-box;
	word-wrap:break-word;
	text-overflow: -o-ellipsis-lastline;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}
.company-body span {
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
}

/* 新闻中心 */
.news-body {
	height: 290px;
}
.news-body ul li {
	height: auto;
	padding: 10px;
	border-bottom: 2px dotted #ddd;
	height: 20px;
}
.news-info {
	height: 20px;
}
.news-info img {
	padding: 6px;
	vertical-align: top;
}
.news-info span {
	width: 280px;
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-info span a:hover {
	color: #0055b4;
}
.news-date span {
	color: #AB9273;
}

/* 联系我们 */
.contact-body {
	height: 290px;
	background: url("../images/contact.jpg") no-repeat right bottom;
}
.contact-body .contact-body-info {
	padding-top: 30px;
}
.contact-body p{
	padding: 0 0 15px 15px;
	font-size: 14px;
}

/* 产品展示 */
.product {
	/* height: 288px; */
	height: 65px;
	-webkit-border-image:url('../images/bg_x.jpg') 30 30 round;
	-o-border-image:url('../images/bg_x.jpg') 30 30 round;
	border-image: url('../images/bg_x.jpg') 30 30 round;
	/* background-color: pink; */
}


/*轮播图*/
* {
	padding: 0;
	margin: 0;
	list-style: none;
	border: 0;
}

.all {
	padding: 7px;
	border: 1px solid #ccc;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.screen {

	height:160px;
	/* overflow: hidden; */
	position: relative;
}

.screen li {

	overflow: hidden;
	float: left;
    padding: 6px 13px;
}
.screen li img {
	width: 223px;
	height: 160px;
}

.screen ul {
	position: absolute;
	left: 0;
	top: 0px;
	width: 4000px;
}

/* 轮播图结束 */


.lianjie{
	height: 30px;
	margin: 6px 0;
	border-bottom: 1px solid gray;
}
.lianjie a{
	color: #1b67bc;
	font-size: 16px;
}
.lianjie span{
	font-size: 16px;
	margin-left: 4px;
}

.baidu{
	padding: 4px;
	color: #ddd;
}

footer{
	width: 100%;
	height: 118px;
	background: url(../images/foot.jpg);
}
footer .foot-l {
	text-align: center;
	padding: 10px 0;
	color: #444;
	font-size: 12px
}
footer .foot-l  span{
padding: 4px;
	
}
footer .foot-l  p {
	margin-top: 6px;
}